# Git
.git
.gitignore

# Python
__pycache__
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
.eggs/
dist/
build/

# Virtual environment
venv/
env/
.venv/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Local settings
.env
*.sqlite3

# Logs
*.log

# Temporary files
temp_files/
*.tmp

# Django generated/output
staticfiles/
media/
converted_files/

# Local DB
db.sqlite3
db.sqlite3-journal
