{% load static %}
<!DOCTYPE html>
<html lang="uz">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Kirish | Cloudstore</title>
    <link rel="icon" type="image/png" href="{% static 'assets/img/favicon.png' %}">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300..800&amp;family=SUSE:wght@100..800&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="{% static 'assets/css/app8051.css' %}" rel="stylesheet">
    <style>
        :root {
            --adminuiux-content-font: "Open Sans", sans-serif;
            --adminuiux-content-font-weight: 400;
            --adminuiux-title-font: "SUSE", sans-serif;
            --adminuiux-title-font-weight: 600;
        }
        body.main-bg::before {
            display: none !important;
        }
    </style>
</head>
<body class="d-flex flex-column min-vh-100 main-bg main-bg-opac adminuiux-header-standard theme-blue adminuiux-header-transparent adminuiux-sidebar-fill-white adminuiux-sidebar-standard scrollup" data-theme="theme-blue" data-sidebarfill="adminuiux-sidebar-fill-white" data-sidebarlayout="adminuiux-sidebar-standard" data-bs-spy="scroll" data-bs-target="#list-example" data-bs-smooth-scroll="true" tabindex="0" data-headerlayout="adminuiux-header-standard" data-headerfill="adminuiux-header-transparent">
    <div class="pageloader">
        <div class="container h-100">
            <div class="row justify-content-center align-items-center text-center h-100">
                <div class="col-12 mb-auto pt-4"></div>
                <div class="col-auto">
                    <p class="h3 mb-0"><span class="text-gradient">Cloudstore</span></p>
                    <div class="loader6 mb-2 mx-auto" style="border-color: var(--adminuiux-theme-2);"></div>
                </div>
                <div class="col-12 mt-auto pb-4">
                    <p class="text-secondary">Yuklanmoqda...</p>
                </div>
            </div>
        </div>
    </div>
    <header class="adminuiux-header z-index-5">
        <nav class="navbar">
            <div class="container-fluid">
                <a class="navbar-brand text-white" href="{% url 'boshlash' %}">
                    <div class="d-inline-block">
                        <span class="h4 text-white">Cloud<span class="fw-bold text-white">store</span></span>
                    </div>
                </a>
                <div class="ms-auto"></div>
            </div>
        </nav>
    </header>
        <main class="flex-shrink-0 pt-0 h-100">
          <div class="container-fluid">
            <div class="auth-wrapper">
              <!--Page body-->
              <div class="coverimg h-100 w-100 top-0 start-0 position-absolute z-index-0">
                <img src="{% static 'assets/img/background-image/backgorund-image-14.png' %}" alt="" />
              </div>
              <!-- login wrap -->
              <div class="row justify-content-center minheight-dynamic position-relative z-index-1" style="--mih-dynamic: calc(100vh - 135px)">
                <div class="col-12 col-md-8 col-xl-6">
                  <div class="h-100 py-3 px-md-3">
                    <div class="row h-100 align-items-center justify-content-center mt-md-3">
                      <div class="col-12 col-sm-8 col-md-11 col-xl-11 col-xxl-10 login-box">
                        <div class="text-center text-white mb-3 mb-lg-4">
                          <h1 class="mb-1">Let's get started&#128077;</h1>
                          <p class="opacity-75">Provide your few details</p>
                        </div>
                        <div class="card adminuiux-card shadow-sm mb-3 mb-lg-4">
                          <div class="card-body">
                            <div class="row gx-3 gx-lg-4">
                              <div class="col">
                                <div class="form-floating mb-3">
                                  <input type="text" class="form-control" id="namef" placeholder="Enter first name" value="Max" autofocus="">
                                  <label for="namef">First Name</label>
                                </div>
                              </div>
                              <div class="col">
                                <div class="form-floating mb-3">
                                  <input type="text" class="form-control" id="namel" placeholder="Enter last name" value="Doe">
                                  <label for="namel">Last Name</label>
                                </div>
                              </div>
                            </div>

                            <div class="form-floating mb-3">
                              <input type="email" class="form-control" id="emailadd" placeholder="Enter email address" value="info@adminuiux">
                              <label for="emailadd">Email Address</label>
                            </div>

                            <div class="input-group mb-3">
                              <div class="form-floating maxwidth-70">
                                <select class="form-control" id="code" aria-label="Country code">
                                  <option value="1">+1</option>
                                  <option selected>+44</option>
                                  <option value="3">+66</option>
                                  <option value="2">+91</option>
                                </select>
                                <label for="code">Code</label>
                              </div>
                              <div class="form-floating">
                                <input type="text" class="form-control" id="phonen" placeholder="Enter your phone number">
                                <label for="phonen">Phone Number</label>
                              </div>
                            </div>

                            <div class="position-relative">
                              <div class="form-floating mb-2 mb-lg-3">
                                <button class="btn btn-square btn-link text-theme-1 position-absolute end-0 top-0 mt-2 me-2 " onclick=" if (this.nextElementSibling.type === 'password') {this.nextElementSibling.type = 'text';} else {this.nextElementSibling.type = 'password';}">
                                  <i class="bi bi-eye"></i>
                                </button>
                                <input type="password" class="form-control" id="checkstrength" placeholder="Enter your password">
                                <label for="checkstrength">Password</label>
                              </div>
                            </div>
                            <div class="feedback mb-2 mb-lg-3">
                              <div class="row gx-3 gx-lg-4">
                                <div class="col">
                                  <div class="check-strength" id="checksterngthdisplay">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                  </div>
                                </div>
                                <div class="col-auto">
                                  <span class="small" id="textpassword"></span>
                                  <i class="bi bi-info-circle text-theme-1 ms-1" data-bs-toggle="tooltip" data-bs-placement="top" title="Password should contain atleast 1 capital, 1 alphanumeric & min. 8 characters"></i>
                                </div>
                              </div>
                            </div>

                            <!-- <div class="position-relative">
                              <div class="form-floating mb-3">
                                <input type="password" class="form-control" id="passwd" placeholder="Confirm your password">
                                <label for="passwd">Confirm Password</label>
                              </div>
                              <button class="btn btn-square btn-link text-theme-1 position-absolute end-0 top-0 mt-2 me-2 ">
                                <i class="bi bi-eye"></i>
                              </button>
                            </div> -->

                             <a href="{% url 'boshlash' %}" class="btn btn-lg btn-theme w-100">Sign up</a>
                          </div>
                        </div> 

                        <div class="text-center text-white mb-0 mb-lg-0">
                          Already have account? <a href="{% url 'login' %}" class="text-white">Login</a> here.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </main>
   <footer class="adminuiux-footer mt-auto bg-theme-1 z-index-1">
        <div class="container-fluid text-center pb-ios">
            <span class="small">© {% now "Y" %} 
                <a href="{% url 'boshlash' %}" class="text-white">Cloudstore</a>
            </span>
        </div>
    </footer>
    <script src="{% static 'assets/js/app8051.js' %}"></script>
    
    <script>
        function togglePassword(btn) {
            const input = btn.parentElement.querySelector('input[type="password"], input[type="text"]');
            const icon = btn.querySelector('i');
            
            if (input.type === 'password') {
                input.type = 'text';
                icon.classList.remove('bi-eye');
                icon.classList.add('bi-eye-slash');
            } else {
                input.type = 'password';
                icon.classList.remove('bi-eye-slash');
                icon.classList.add('bi-eye');
            }
        }
    </script>
</body>
</html>
 