{% load static %}
<!DOCTYPE html>
<html lang="uz">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- PWA iOS Status Bar -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="theme-color" content="#22c55e">

    <title>{% block title %}FoodScan {% endblock %}</title>
    <link rel="icon" type="image/png" href="{% static 'icons/icon-32x32.png' %}">

    <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-NWVR0PR8PZ"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-NWVR0PR8PZ');
    </script>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300..800&amp;family=SUSE:wght@100..800&amp;display=swap" rel="stylesheet">
    <style>
        :root {
            --adminuiux-content-font: "Open Sans", sans-serif;
            --adminuiux-content-font-weight: 400;
            --adminuiux-title-font: "SUSE", sans-serif;
            --adminuiux-title-font-weight: 600;
        }
        
        /* PWA Safe Area - notch va status bar uchun */
        @supports (padding-top: env(safe-area-inset-top)) {
            body {
                padding-top: env(safe-area-inset-top);
            }
            .navbar.fixed-top {
                padding-top: env(safe-area-inset-top);
            }
            .adminuiux-sidebar {
                padding-top: env(safe-area-inset-top);
            }
        }
        /* PWA standalone mode uchun */
        @media all and (display-mode: standalone) {
            .navbar.fixed-top {
                padding-top: max(env(safe-area-inset-top), 20px);
            }
        }
    </style>

<link href="{% static 'assets/css/app8051.css' %}" rel="stylesheet">
<!-- Bootstrap Icons CDN -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    {% block extra_css %}{% endblock %}
</head>

    <body class="main-bg main-bg-opac adminuiux-header-standard theme-blue adminuiux-header-transparent adminuiux-sidebar-fill-white adminuiux-sidebar-standard bg-r-gradient scrollup" data-theme="theme-blue" data-sidebarfill="adminuiux-sidebar-fill-white" data-sidebarlayout="adminuiux-sidebar-standard" data-bs-spy="scroll" data-bs-target="#list-example" data-bs-smooth-scroll="true" tabindex="0" data-headerlayout="adminuiux-header-standard" data-bggradient="bg-r-gradient" data-headerfill="adminuiux-header-transparent">
        <!-- Pageloader -->
<!-- Pageloader -->
<div class="pageloader">
    <div class="container h-100">
        <div class="row justify-content-center align-items-center text-center h-100">
            <div class="col-12 mb-auto pt-4"></div>
            <div class="col-auto">
                <img src="{% static 'assets/img/logo.png' %}" alt="FoodScan" height="50" class="mb-3">
                
                <div class="loader6 mb-2 mx-auto" style="border-color: var(--adminuiux-theme-2);"></div>
            </div>
            <div class="col-12 mt-auto pb-4">
                <p class="text-secondary">Yuklanmoqda...</p>
            </div>
        </div>
    </div>
</div>
            <!-- standard header -->
<header class="adminuiux-header">
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container-fluid">

            <!-- main sidebar toggle -->
            <button class="btn btn-link btn-square sidebar-toggler" type="button" onclick="initSidebar()">
                <i class="sidebar-svg" data-feather="menu"></i>
            </button>

            <!-- logo -->
            <a class="navbar-brand" href="{% url 'boshlash' %}">
                <img src="{% static 'assets/img/logo.png' %}" alt="FoodScan" height="36" class="d-inline-block">
            </a>

            <!-- search -->
            <div class="px-3 justify-content-center d-none d-lg-flex">
                <div class="input-group input-group-md rounded search-wrap width-300 mx-auto">
                    <span class="input-group-text border-0 bg-none">
                        <i class="bi bi-search"></i>
                    </span>
                    <input class="form-control border-0 bg-none" type="search" placeholder="Qidiruv..." id="searchglobal">
                    <div class="dropdown input-group-text border-0 px-2">
                        
                        <div class="dropdown-menu dropdown-menu-end dropdown-dontclose width-300" aria-labelledby="searchfilter" style="">
                           
                            <div class="tab-content py-3" id="searchtabContent">
                                <div class="tab-pane fade active show" id="searchall" role="tabpanel" aria-labelledby="searchall-tab">
                                    <ul class="list-group adminuiux-list-group list-group-flush bg-none show">
                                        
                                    </ul>
                                </div>
                                <div class="tab-pane fade" id="searchorders" role="tabpanel" aria-labelledby="searchorders-tab">
                                    <ul class="list-group adminuiux-list-group list-group-flush bg-none show">
                                        <li class="list-group-item">
                                            <div class="row gx-3 gx-lg-4">
                                                <div class="col">Show order ID</div>
                                                <div class="col-auto">
                                                    <div class="form-check form-switch"><input class="form-check-input" type="checkbox" role="switch" id="isearchswitch5"> <label class="form-check-label" for="isearchswitch5"></label></div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="row gx-3 gx-lg-4">
                                                <div class="col">International Order</div>
                                                <div class="col-auto">
                                                    <div class="form-check form-switch"><input class="form-check-input" type="checkbox" role="switch" id="isearchswitch6" checked=""> <label class="form-check-label" for="isearchswitch6"></label></div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="row gx-3 gx-lg-4">
                                                <div class="col">Taxable Product</div>
                                                <div class="col-auto">
                                                    <div class="form-check form-switch"><input class="form-check-input" type="checkbox" role="switch" id="isearchswitch7" checked=""> <label class="form-check-label" for="isearchswitch7"></label></div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="row gx-3 gx-lg-4">
                                                <div class="col">Published Product</div>
                                                <div class="col-auto">
                                                    <div class="form-check form-switch"><input class="form-check-input" type="checkbox" role="switch" id="isearchswitch8"> <label class="form-check-label" for="isearchswitch8"></label></div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="tab-pane fade" id="searchcontacts" role="tabpanel" aria-labelledby="searchcontacts-tab">
                                    <ul class="list-group adminuiux-list-group list-group-flush bg-none show">
                                        <li class="list-group-item">
                                            <div class="row gx-3 gx-lg-4">
                                                <div class="col">Have email ID</div>
                                                <div class="col-auto">
                                                    <div class="form-check form-switch"><input class="form-check-input" type="checkbox" role="switch" id="isearchswitch9"> <label class="form-check-label" for="isearchswitch9"></label></div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="row gx-3 gx-lg-4">
                                                <div class="col">Have phone number</div>
                                                <div class="col-auto">
                                                    <div class="form-check form-switch"><input class="form-check-input" type="checkbox" role="switch" id="isearchswitch10" checked=""> <label class="form-check-label" for="isearchswitch10"></label></div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="row gx-3 gx-lg-4">
                                                <div class="col">Photo available</div>
                                                <div class="col-auto">
                                                    <div class="form-check form-switch"><input class="form-check-input" type="checkbox" role="switch" id="isearchswitch11" checked=""> <label class="form-check-label" for="isearchswitch11"></label></div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="row gx-3 gx-lg-4">
                                                <div class="col">Referral</div>
                                                <div class="col-auto">
                                                    <div class="form-check form-switch"><input class="form-check-input" type="checkbox" role="switch" id="isearchswitch12"> <label class="form-check-label" for="isearchswitch12"></label></div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- right icons button -->
            <div class="ms-auto">
                <!-- global search toggle -->
                <button class="btn btn-link btn-square btn-icon btn-link-header d-lg-none" type="button" onclick="openSearch()">
                    <i data-feather="search"></i>
                </button>

                <!-- dark mode -->
                <button class="btn btn-link btn-square btnsunmoon btn-link-header" id="btn-layout-modes-dark-page">
                    <i class="sun mx-auto" data-feather="sun"></i>
                    <i class="moon mx-auto" data-feather="moon"></i>
                </button>

                <!-- notification dropdown -->
                <button class="btn btn-link btn-square btn-icon btn-link-header dropdown-toggle position-relative no-caret" type="button" data-bs-toggle="offcanvas" data-bs-target="#view-notification" aria-expanded="false">
                    <i data-feather="bell"></i>
                    <span class="position-absolute top-0 end-0 badge rounded-pill bg-danger p-1">
                        <small>9+</small>
                        <span class="visually-hidden">unread messages</span>
                    </span>
                </button>

            </div>
        </div>
    </nav>
    <!-- global search-->
    <div class="adminuiux-search-full">
        <div class="row gx-2 align-items-center">
            <div class="col-auto">
                <!-- close global search toggle -->
                <button class="btn btn-link btn-square " type="button" onclick="closeSearch()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left">
                        <line x1="19" y1="12" x2="5" y2="12"></line>
                        <polyline points="12 19 5 12 12 5"></polyline>
                    </svg>
                </button>
            </div>
            <div class="col">
                <input class="form-control pe-0 border-0" type="search" placeholder="Type something here...">
            </div>
            <div class="col-auto">
                <!-- filter dropdown -->
                <div class="dropdown input-group-text border-0 p-0">
                    <button class="dropdown-toggle btn btn-link btn-square no-caret" type="button" id="searchfilter2" data-bs-toggle="dropdown" aria-expanded="false">
                        <i data-feather="sliders"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-end dropdown-dontclose width-300">
                        <ul class="nav adminuiux-nav" id="searchtab2" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="searchall-tab2" data-bs-toggle="tab" data-bs-target="#searchall2" type="button" role="tab" aria-controls="searchall2" aria-selected="true">All</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="searchorders-tab2" data-bs-toggle="tab" data-bs-target="#searchorders2" type="button" role="tab" aria-controls="searchorders2" aria-selected="false" tabindex="-1">Orders</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="searchcontacts-tab2" data-bs-toggle="tab" data-bs-target="#searchcontacts2" type="button" role="tab" aria-controls="searchcontacts2" aria-selected="false" tabindex="-1">Contacts</button>
                            </li>
                        </ul>
                       
                            <div class="tab-pane fade" id="searchorders2" role="tabpanel" aria-labelledby="searchorders-tab2">
                                <ul class="list-group adminuiux-list-group list-group-flush bg-none show">
                                    <li class="list-group-item">
                                        <div class="row gx-3">
                                            <div class="col">Show order ID</div>
                                            <div class="col-auto">
                                                <div class="form-check form-switch">
                                                    <input class="form-check-input" type="checkbox" role="switch" id="searchswitch5">
                                                    <label class="form-check-label" for="searchswitch5"></label>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="row gx-3">
                                            <div class="col">International Order</div>
                                            <div class="col-auto">
                                                <div class="form-check form-switch">
                                                    <input class="form-check-input" type="checkbox" role="switch" id="searchswitch6" checked="">
                                                    <label class="form-check-label" for="searchswitch6"></label>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="row gx-3">
                                            <div class="col">Taxable Product</div>
                                            <div class="col-auto">
                                                <div class="form-check form-switch">
                                                    <input class="form-check-input" type="checkbox" role="switch" id="searchswitch7" checked="">
                                                    <label class="form-check-label" for="searchswitch7"></label>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="row gx-3">
                                            <div class="col">Published Product</div>
                                            <div class="col-auto">
                                                <div class="form-check form-switch">
                                                    <input class="form-check-input" type="checkbox" role="switch" id="searchswitch8">
                                                    <label class="form-check-label" for="searchswitch8"></label>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="tab-pane fade" id="searchcontacts2" role="tabpanel" aria-labelledby="searchcontacts-tab2">
                                <ul class="list-group adminuiux-list-group list-group-flush bg-none show">
                                    <li class="list-group-item">
                                        <div class="row gx-3">
                                            <div class="col">Have email ID</div>
                                            <div class="col-auto">
                                                <div class="form-check form-switch">
                                                    <input class="form-check-input" type="checkbox" role="switch" id="searchswitch9">
                                                    <label class="form-check-label" for="searchswitch9"></label>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="row gx-3">
                                            <div class="col">Have phone number</div>
                                            <div class="col-auto">
                                                <div class="form-check form-switch">
                                                    <input class="form-check-input" type="checkbox" role="switch" id="searchswitch10" checked="">
                                                    <label class="form-check-label" for="searchswitch10"></label>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="row gx-3">
                                            <div class="col">Photo available</div>
                                            <div class="col-auto">
                                                <div class="form-check form-switch">
                                                    <input class="form-check-input" type="checkbox" role="switch" id="searchswitch11" checked="">
                                                    <label class="form-check-label" for="searchswitch11"></label>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="row gx-3">
                                            <div class="col">Referral</div>
                                            <div class="col-auto">
                                                <div class="form-check form-switch">
                                                    <input class="form-check-input" type="checkbox" role="switch" id="searchswitch12">
                                                    <label class="form-check-label" for="searchswitch12"></label>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="">
                            <div class="row gx-3 mb-1">
                                <div class="col">
                                    <button class="btn btn-sm btn-theme">Apply</button>
                                </div>
                                <div class="col-auto"><button class="btn btn-sm btn-link theme-red">Cancel</button></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Notification Offcanvas -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="view-notification" aria-labelledby="view-notification-label">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="view-notification-label">Bildirishnomalar</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <p class="text-secondary">Hozircha bildirishnomalar yo'q</p>
    </div>
</div>

<!-- Theming Offcanvas -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="theming" aria-labelledby="theming-label">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="theming-label">Mavzu sozlamalari</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <h6>Rang tanlash</h6>
        <div class="d-flex flex-wrap gap-2 mb-4">
            <button class="btn btn-primary btn-sm rounded-circle p-3" data-theme="theme-blue"></button>
            <button class="btn btn-success btn-sm rounded-circle p-3" data-theme="theme-green"></button>
            <button class="btn btn-danger btn-sm rounded-circle p-3" data-theme="theme-red"></button>
            <button class="btn btn-warning btn-sm rounded-circle p-3" data-theme="theme-yellow"></button>
            <button class="btn btn-info btn-sm rounded-circle p-3" data-theme="theme-teal"></button>
            <button class="btn btn-secondary btn-sm rounded-circle p-3" data-theme="theme-grey"></button>
        </div>
    </div>
</div>

<div class="adminuiux-wrap">
    <!-- Standard sidebar -->
    <div class="adminuiux-sidebar shadow-sm">
    <div class="adminuiux-sidebar-inner">
        <div class="px-3 not-iconic mt-2">
            <div class="row gx-3 gx-lg-4">
                <div class="col align-self-center menu-name">
                    <h6>Navigatsiya tugmalari</h6>
                </div>
                <div class="col-auto">
                    <a class="collapsed btn btn-link btn-square" data-bs-toggle="collapse" data-bs-target="#usersidebarprofile" aria-expanded="false" role="button" aria-controls="usersidebarprofile">
                        <i class="bi bi-person-circle"></i>
                    </a>
                </div>
            </div>
        </div>

        <!-- user information -->
        <div class="px-3 text-center not-iconic collapse" id="usersidebarprofile">
            <div class="avatar avatar-100 rounded-circle shadow-sm my-3 bg-white">
                <figure class="avatar avatar-90 rounded-circle coverimg">
                    <img src="{% static 'assets/img/modern-ai-image/user-4.jpg' %}" alt="" id="userphotoonboarding" style="display: none;">
                </figure>
            </div>
            <h5 class="mb-0" id="usernamedisplay">The AdminUIUX</h5>
            <p class="text-secondary small mb-3">United States</p>
        </div>

        <!-- user menu navigation -->
        <ul class="nav flex-column menu-active-line">
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{% url 'boshlash' %}">
                    <i class="menu-icon bi bi-house-door"></i>
                    <div class="col menu-name">Bosh sahifa</div>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{% url 'all_books' %}">
                    <i class="menu-icon bi bi-egg-fried"></i>
                    <div class="col menu-name">Mahsulot ma'lumotlari</div>
                </a>
            </li>
             <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{% url 'food_scanner' %}">
                    <i class="menu-icon bi bi-bar-chart"></i>
                    <div class="col menu-name">Mahsulot tahlili</div>
                </a>
            </li>
             <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{% url 'food_diary' %}">
                    <i class="menu-icon bi bi-calendar-week"></i>
                    <div class="col menu-name">Kunlik ro'yxat</div>
                </a>
            </li>

             <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{% url 'about' %}">
                    <i class="menu-icon bi bi-info-circle"></i>
                    <div class="col menu-name">Haqida</div>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{% url 'food_scanner1' %}">
                    <i class="nav-icon bi bi-upc-scan "></i>
                    <div class="col menu-name">Skanerlangan mahsulot</div>
                </a>
            </li>
             <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#" id="installBtn" onclick="installApp()">
                    <i class="menu-icon bi bi-download"></i>
                    <div class="col menu-name"> Ilovani o'rnatish</div>
                </a>
            </li>
        </ul>

        <!-- applications -->
        
        
        <!-- user secondary menu navigation -->
        <div class="px-3 not-iconic">
            <h6>Sahifalar</h6>
        </div>
        <ul class="nav flex-column menu-active-line">
        {% if user.is_authenticated %}
         <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{% url 'user_profile' user.username %}">
                    <i class="menu-icon bi bi-person-circle"></i>
                    <div class="col menu-name">Profile</div>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{% url 'edit_profile' %}">
                    <i class="menu-icon bi bi-gear"></i>
                    <div class="col menu-name">Settings</div>
                </a>
            </li>
            <li class="nav-item">
                <form method="post" action="{% url 'logout' %}" style="margin: 0; padding: 0;">
                    {% csrf_token %}
                    <button type="submit" class="nav-link" style="width: 100%; border: none; background: none; cursor: pointer; text-align: left; display: flex; align-items: center;">
                        <i class="menu-icon bi bi-box-arrow-right"></i>
                        <div class="col menu-name">Sign Out</div>
                    </button>
                </form>
            </li>
            
        {% else %}
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{% url 'login' %}">
                    <i class="menu-icon bi bi-box-arrow-in-right"></i>
                    <div class="col menu-name">Sign In</div>
                </a>
            </li>
        {% endif %}
        </ul>

        <div class=" mt-auto "></div>

        <div class="card adminuiux-card shadow-sm">
                                            <div class="card-body">
                                                <div class="row gx-3 gx-lg-4 align-items-center">
                                                    <div class="col-auto">
                                                        <i class="bi bi-star h5 avatar avatar-50 bg-theme-1 text-white theme-yellow rounded-circle"></i>
                                                    </div>
                                                    <div class="col">
                                                        <p class="mb-2">Kunlik {{ daily_limit|default:20 }} ta skanerlash</p>
                                                        <div class="progress height-dynamic mb-1 bg-theme-1-subtle" style="--h-dynamic:5px">
                                                            <div class="progress-bar bg-theme-1" role="progressbar" style="width: {{ progress_percent|default:0 }}%" aria-valuenow="{{ progress_percent|default:0 }}" aria-valuemin="0" aria-valuemax="100"></div>
                                                        </div>
                                                        <p class="text-secondary small"><i class="bi bi-lightning me-1"></i>Qolgan: <strong>{{ remaining_count|default:20 }}</strong> ta ({{ used_count|default:0 }}/{{ daily_limit|default:20 }} ishlatildi)</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
        </div>

        <!-- quick links -->
        

    </div>
    </div>

    <!-- Main Content Area -->
    <main class="adminuiux-content has-sidebar" onclick="contentClick()">
        {% block content %}
        {% endblock %}
    </main>
    <!-- Bottom Tab Bar / Fixed Bottom Navigation -->
    <footer class="adminuiux-mobile-footer hide-on-scrolldown style-2">
    <div class="container">
        <ul class="nav nav-pills nav-justified">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'boshlash' %}">
                    <span>
                        <i class="nav-icon bi bi-house"></i>
                        <span class="nav-text">Bosh</span>
                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'food_diary' %}">
                    <span>
                        <i class="menu-icon bi bi-calendar-week"></i>
                        <span class="nav-text">Kunlik</span>
                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'food_scanner' %}" class="nav-link">
                    <span>
                        <i class="nav-icon bi bi-upc-scan"></i>
                        <span class="nav-text">Skaner</span>
                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'all_books' %}">
                    <span>
                        <i class="nav-icon bi bi-grid"></i>
                        <span class="nav-text">Ovqatlar</span>
                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'edit_profile' %}">
                    <span>
                        <i class="menu-icon bi bi-person-circle"></i>
                        <span class="nav-text">Profil</span>
                    </span>
                </a>
            </li>
        </ul>
    </div>
</footer>

<!-- standard footer -->
<footer class="adminuiux-footer has-adminuiux-sidebar mt-auto bg-theme-1">
    <div class="container-fluid">
        <div class="row gx-3 gx-lg-4">
            <div class="col-10 col-md col-lg py-2">
                <span class="small">© {% now "Y" %} 
                    <a href="{% url 'boshlash' %}" class="text-white">FoodScan</a> 
                </span>
            </div>
            <div class="col-12 col-md-auto col-lg-auto align-self-center">
                <ul class="nav small">
                    <li class="nav-item"><a class="nav-link text-white px-2" href="{% url 'feedback_list' %}">Fikr-mulohaza</a></li>
                    <li class="nav-item opacity-50">|</li>
                    <li class="nav-item"><a class="nav-link text-white px-2" href="{% url 'boshlash' %}">Bosh sahifa</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

</div><!-- /.adminuiux-wrap -->

<!-- theming action-->


<!-- Page Level js -->
<script src="{% static 'assets/js/app8051.js' %}"></script>

<!-- PWA Install Script -->
<script>
let deferredPrompt;

window.addEventListener('beforeinstallprompt', (e) => {
    e.preventDefault();
    deferredPrompt = e;
});

// Platforma aniqlash
function detectPlatform() {
    const userAgent = navigator.userAgent || navigator.vendor || window.opera;
    
    // iOS aniqlash
    if (/iPad|iPhone|iPod/.test(userAgent) && !window.MSStream) {
        return 'ios';
    }
    
    // Android aniqlash
    if (/android/i.test(userAgent)) {
        return 'android';
    }
    
    return 'desktop';
}

// iOS uchun bosh ekranga qo'shish ko'rsatmasi
function showIOSInstallModal() {
    const modal = document.createElement('div');
    modal.innerHTML = `
        <div style="position:fixed;top:0;left:0;right:0;bottom:0;background:rgba(0,0,0,0.8);z-index:99999;display:flex;align-items:center;justify-content:center;padding:20px;">
            <div style="background:white;border-radius:16px;padding:24px;max-width:340px;text-align:center;">
                <div style="font-size:48px;margin-bottom:16px;">📱</div>
                <h3 style="margin:0 0 12px;color:#1f2937;font-size:20px;">FoodScan AI ni o'rnating</h3>
                <p style="color:#6b7280;font-size:14px;margin-bottom:20px;">Bosh ekranga qo'shish uchun quyidagi qadamlarni bajaring:</p>
                <div style="text-align:left;background:#f3f4f6;padding:16px;border-radius:12px;margin-bottom:20px;">
                    <p style="margin:0 0 12px;font-size:14px;color:#374151;"><strong>1.</strong> Pastdagi <span style="display:inline-flex;align-items:center;background:#007AFF;color:white;padding:2px 8px;border-radius:4px;font-size:12px;">
                        <svg width="16" height="16" fill="currentColor" viewBox="0 0 24 24"><path d="M12 2l.001 14.5M7 12l5-5 5 5M4 20h16"/></svg>
                        Share
                    </span> tugmasini bosing</p>
                    <p style="margin:0 0 12px;font-size:14px;color:#374151;"><strong>2.</strong> "Add to Home Screen" ni tanlang</p>
                    <p style="margin:0;font-size:14px;color:#374151;"><strong>3.</strong> "Add" tugmasini bosing</p>
                </div>
                <button onclick="this.closest('div[style*=position]').remove()" style="background:#22c55e;color:white;border:none;padding:12px 32px;border-radius:8px;font-size:16px;cursor:pointer;width:100%;">Tushundim</button>
            </div>
        </div>
    `;
    document.body.appendChild(modal);
}

// Android uchun APK yuklab olish
function downloadAndroidAPK() {
    const modal = document.createElement('div');
    modal.innerHTML = `
        <div style="position:fixed;top:0;left:0;right:0;bottom:0;background:rgba(0,0,0,0.8);z-index:99999;display:flex;align-items:center;justify-content:center;padding:20px;">
            <div style="background:white;border-radius:16px;padding:24px;max-width:340px;text-align:center;">
                <div style="font-size:48px;margin-bottom:16px;">📥</div>
                <h3 style="margin:0 0 12px;color:#1f2937;font-size:20px;">FoodScan AI yuklab olish</h3>
                <p style="color:#6b7280;font-size:14px;margin-bottom:20px;">Android ilovani yuklab oling va o'rnating</p>
                <div style="text-align:left;background:#f3f4f6;padding:16px;border-radius:12px;margin-bottom:20px;">
                    <p style="margin:0 0 8px;font-size:14px;color:#374151;"><strong>1.</strong> APK faylni yuklab oling</p>
                    <p style="margin:0 0 8px;font-size:14px;color:#374151;"><strong>2.</strong> "Noma'lum manbalar"ga ruxsat bering</p>
                    <p style="margin:0;font-size:14px;color:#374151;"><strong>3.</strong> APK ni ochib, o'rnating</p>
                </div>
                <a href="{% static 'downloads/FoodScan-AI.apk' %}" download="FoodScan-AI-v1.0.2.apk" style="display:block;background:#22c55e;color:white;text-decoration:none;padding:12px 32px;border-radius:8px;font-size:16px;margin-bottom:12px;">
                    📥 APK yuklab olish (2.5 MB)
                </a>
                <button onclick="this.closest('div[style*=position]').remove()" style="background:#e5e7eb;color:#374151;border:none;padding:10px 24px;border-radius:8px;font-size:14px;cursor:pointer;">Yopish</button>
            </div>
        </div>
    `;
    document.body.appendChild(modal);
}

// Desktop uchun PWA o'rnatish ko'rsatmasi
function showDesktopInstallModal() {
    const isChrome = /Chrome/.test(navigator.userAgent) && !/Edge|Edg/.test(navigator.userAgent);
    const isEdge = /Edge|Edg/.test(navigator.userAgent);
    const isFirefox = /Firefox/.test(navigator.userAgent);
    
    let instructions = '';
    if (isChrome) {
        instructions = `
            <p style="margin:0 0 8px;font-size:14px;color:#374151;"><strong>1.</strong> Manzil satrining o'ng tomonidagi <span style="background:#f3f4f6;padding:2px 6px;border-radius:4px;">⊕</span> belgisini bosing</p>
            <p style="margin:0 0 8px;font-size:14px;color:#374151;"><strong>2.</strong> "Install" tugmasini bosing</p>
            <p style="margin:0;font-size:14px;color:#374151;"><strong>3.</strong> Ilova Desktop da paydo bo'ladi</p>
        `;
    } else if (isEdge) {
        instructions = `
            <p style="margin:0 0 8px;font-size:14px;color:#374151;"><strong>1.</strong> Manzil satrining o'ng tomonidagi <span style="background:#f3f4f6;padding:2px 6px;border-radius:4px;">⊕</span> belgisini bosing</p>
            <p style="margin:0 0 8px;font-size:14px;color:#374151;"><strong>2.</strong> "Install" tugmasini bosing</p>
            <p style="margin:0;font-size:14px;color:#374151;"><strong>3.</strong> Ilova Desktop da paydo bo'ladi</p>
        `;
    } else {
        instructions = `
            <p style="margin:0 0 8px;font-size:14px;color:#374151;"><strong>1.</strong> Brauzer menyusini oching (⋮ yoki ☰)</p>
            <p style="margin:0 0 8px;font-size:14px;color:#374151;"><strong>2.</strong> "Ilovalarni o'rnatish" yoki "Saytni qo'shish" ni tanlang</p>
            <p style="margin:0;font-size:14px;color:#374151;"><strong>3.</strong> Ilova Desktop da paydo bo'ladi</p>
        `;
    }
    
    const modal = document.createElement('div');
    modal.innerHTML = `
        <div style="position:fixed;top:0;left:0;right:0;bottom:0;background:rgba(0,0,0,0.8);z-index:99999;display:flex;align-items:center;justify-content:center;padding:20px;">
            <div style="background:white;border-radius:16px;padding:24px;max-width:380px;text-align:center;">
                <div style="font-size:48px;margin-bottom:16px;">🖥️</div>
                <h3 style="margin:0 0 12px;color:#1f2937;font-size:20px;">FoodScan AI ni o'rnating</h3>
                <p style="color:#6b7280;font-size:14px;margin-bottom:20px;">Bosh ekranga qo'shish uchun quyidagi qadamlarni bajaring:</p>
                <div style="text-align:left;background:#f3f4f6;padding:16px;border-radius:12px;margin-bottom:20px;">
                    ${instructions}
                </div>
                <button onclick="this.closest('div[style*=position]').remove()" style="background:#22c55e;color:white;border:none;padding:12px 32px;border-radius:8px;font-size:16px;cursor:pointer;width:100%;">Tushundim</button>
            </div>
        </div>
    `;
    document.body.appendChild(modal);
}

function installApp() {
    const platform = detectPlatform();
    
    if (platform === 'ios') {
        // iOS - bosh ekranga qo'shish ko'rsatmasini ko'rsat
        showIOSInstallModal();
    } else if (platform === 'android') {
        // Android - APK yuklab olish
        downloadAndroidAPK();
    } else {
        // Desktop - PWA prompt
        if (deferredPrompt) {
            deferredPrompt.prompt();
            deferredPrompt.userChoice.then((choiceResult) => {
                if (choiceResult.outcome === 'accepted') {
                    console.log('Ilova o\'rnatildi');
                }
                deferredPrompt = null;
            });
        } else {
            showDesktopInstallModal();
        }
    }
}
</script>

{% block extra_js %}{% endblock %}
</body>
</html>